
	/*
	     This script downloaded from www.JavaScriptBank.com
	     Come to view and download over 2000+ free javascript at www.JavaScriptBank.com
	*/

.navbar{}

.mainDiv
{
  /*width:185px;*/ width:100%;
}

.topItem
{
  font: bold 12px arial,tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("arrow-up-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  border: none;
  width: 100%;
  height: 25px;
  color: #215dc6;
  cursor:pointer;
  text-indent:20px; line-height:25px;
}

.topItemOver
{
  font: bold 12px arial,tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("arrow-up-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 100%;
  color: #428eff;
  cursor:pointer;
  text-indent:20px; line-height:25px;
}

.topItemClose
{
  font: bold 12px arial,tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("arrow-down-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 100%;
  color: #215dc6;
  cursor:pointer;
  text-indent:20px; line-height:25px;
}


.topItemCloseOver
{
  font: bold 12px arial,tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("arrow-down-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 100%;
  color: #428eff;
  cursor:pointer;
  text-indent:20px; line-height:25px;
}



.dropMenu
{
  font: bold 12px arial,tahoma,verdana,sans-serif;
  /*background-color: #d6dff7;*/
  color: #000;
  border: 1px solid #FFFFFF;
  border-width: 0 1px 1px 1px;
  filter:alpha(opacity=100);
  /*padding-top:5px;
  padding-bottom:5px;*/
  text-indent:20px; line-height:25px;
}

.subMenu
{
   display:block;
}

.subItem
{
   margin-left:10px;
   margin-top:2px;
   height:18px;
   font: bold 12px arial,tahoma,verdana,sans-serif;
   text-decoration:none;
   color: #215dc6;
   font-weight:bold; 
}

.subItem a
{
   margin-left:23px;
   font: bold 12px arial,tahoma,verdana,sans-serif; 	
   text-decoration:none;
   color: #215dc6;
   font-weight:bold;
}

.subItemOver
{
   margin-left:10px;
   margin-top:2px;
   font: bold 12px arial,tahoma,verdana,sans-serif;  
   height:18px;
   color: #428eff;
   font-weight:bold;
}

.subItemOver  a
{
   margin-left:23px;
   font: bold 12px arial,tahoma,verdana,sans-serif;  
   cursor:pointer;	
   color:Orange;
   text-decoration:underline;
   cursor:pointer;
   font-weight:bold;
}

.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}




