/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	margin:auto;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption
{
	position: absolute;
	left: 0px;
	top:0px;/*Vị trí caption nếu muốn thay đổi*/
	color: white;
	opacity: 0.8; /* Overridden by captionOpacity setting */
	width: 100%;
	z-index: 89;
	background:#ffff00; /*Màu nền của tiêu đề (caption) ở phía trên ảnh*/
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

#slider {
	position:absolute;
    width:620px; /*Độ rộng của khung slide (hãy thay đổi nếu cần)*/
    height:303px;/*Độ cao của khung slide (hãy thay đổi nếu cần)*/
	background:url(../images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	width:620px;/*Độ rộng của ảnh bên trong khung (hãy thay đổi nếu cần)*/
	height:303px;/*Độ cao của ảnh bên trong khung (hãy thay đổi nếu cần)*/
	display:none;
}
#slider a {
	border:0;
	display:block;
	float:right;
}

.nivo-controlNav {
	position:absolute;
	right:5 auto;
	bottom:0px;/* Nếu không muốn hiển thị các nút (bullets) thì đặt là 300*/
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	float:right;
	
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	float:right;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}