
.ProductCatalogMenu h3 { behavior: url(iepngfix.htc); display:block; font-size:12px; background:url(../images/icon-home.png) 0 1px no-repeat; height:26px; margin:0px; }
/*.ProductCatalogMenu ul li a { background:#cbf7a3; width:170px; height:26px; color:#219116; line-height:26px; }*/